.next-languages--size-5xs {
  width: 0.75rem;
}

.next-languages--size-4xs {
  width: 1rem;
}

.next-languages--size-3xs {
  width: 1.5rem;
}

.next-languages--size-2xs {
  width: 2rem;
}

.next-languages--size-xs {
  width: 3rem;
}

.next-languages--size-sm {
  width: 4rem;
}

.next-languages--size-md {
  width: 6rem;
}

.next-languages--size-lg {
  width: 8rem;
}

.next-languages--size-xl {
  width: 12rem;
}

.next-languages--size-2xl {
  width: 16rem;
}

.next-languages--size-3xl {
  width: 24rem;
}

.next-languages--size-4xl {
  width: 32rem;
}

.next-languages--size-5xl {
  width: 40rem;
}

.next-languages--size-6xl {
  width: 48rem;
}
